body {
background-image: url('imagenes/fondo-tucuman.jpg');
background-attachment: fixed;
background-size: cover;
}
.centrado{
    text-align: center;
    font-size: 4em;
    font-weight: 600;

}
.pcenter{
    text-align: center;
}
h2{
    background-image: url('imagenes/historiatitulo.jpg');
    background-position: center;
    color: rgb(205, 232, 236);
    text-align: center;
}
.capitaldescripcion{
    text-align: center;
}
.menucentrado{
    font-size: 3em;
    font-weight: 500;
}
.imagencap{
    border-image-width: 3em;
}
.gobernadores{
    font-size: 1em;

}
.descripciongobernadores{
    text-align: center;
    font-size: 0,5em;
    font-weight: 300;
}
.imagenactual{
    width: 300px;
    height: 300px;
    
}