body {
background-image: url('imagenes/fondo-tucuman.jpg');
background-attachment: fixed;
background-size: cover;
}
.centrado{
    text-align: center;
}
.pcenter{
    text-align: center;
}
h2{
    background-image: url('imagenes/historiatitulo.jpg');
    background-position: center;
    color: rgb(205, 232, 236);
    text-align: center;
}
.capitaldescripcion{
    text-align: center;
}
