body {
background-image: url('imagenes/fondo-tucuman.jpg');
background-attachment: fixed;
background-size: cover;
margin: 0 auto;
}
.centrado{
    text-align: center;
    font-size: 4em;
    font-weight: 600;

}
.pcenter{
    text-align: center;
}
h2{
    background-image: url('imagenes/historiatitulo.jpg');
    background-position: center;
    color: rgb(205, 232, 236);
    text-align: center;
    background: steelblue;
}
.capitaldescripcion{
    text-align: center;
}
.menucentrado{
    font-size: 3em;
    font-weight: 500;
}
.imagcap{
    width: 200px;
    height: 100px;
    text-align: center;
}
.gobernadores{
    font-size: 2em;
    width: 1000px;
    height: 500px;
    border: steelblue solid 10px;
    margin: 0 auto;
    


}
.descripciongobernadores{
    text-align: center;
    font-size: 3em;
    font-weight: 300;
    border-bottom: steelblue solid 10px;
}
.gobernadoresimagen{
    width: 150px;
    height: 120px;
    text-align: center;
}
.clima{
    font-size: 2em;
    font-weight: 500;
}
.imagenclima{
    text-align: center;
}
.gobernadores td{
    border: steelblue solid 2px;
}
/*footer*/
footer p{
    text-align: unset;
}